<br>
<p align="center">
<%= image_tag("imagenes/gandalf.jpg") %>
</p>

<div id="twitterBar">
  <div class="wrap"> <span class="icon"></span>
    <p> ¿Es la siesta perrorismo de estado? <a href="http://elgoog.rb-hosting.de/index.cgi">Elgoog</a> <small>hace 2 horas</small></p>
  </div>
</div>
<br>
<%= link_to image_tag('imagenes/arrow_undo.png') + " Atras", :back %>
<br>