/*******************************************************************************************************************
*  LINKS                                                                                                           
*******************************************************************************************************************/
a, a:link, a:focus{color:#77b61e;}

/*******************************************************************************************************************
*  H1 - H4                                                                                                         
*******************************************************************************************************************/
h4 {color:#77b61e;}

/*******************************************************************************************************************
*  HEADER                                                                                                          
*******************************************************************************************************************/
#header a#logo{background:url("img/green/logo.png") no-repeat 50% 0;}

/*******************************************************************************************************************
*  INTRO                                                                                                          
*******************************************************************************************************************/
#subIntro{background:#77b61e; border-top:1px solid #97d93b; color:#d5f4a7;}
#subIntro a:hover{color:#d5f4a7;}

/*******************************************************************************************************************
*  OTHER STYLES                                                                                                    
*******************************************************************************************************************/
a.button{background:url("img/green/button-left.png") no-repeat;}
a.button span{background: url("img/green/button-right.png") no-repeat 100% 0; color:#fff; text-shadow:1px 1px 1px #67921c;}
a.button:hover span{color:#d5f4a7;}
