/*******************************************************************************************************************
*  LINKS                                                                                                           
*******************************************************************************************************************/
a, a:link, a:focus{color:#edc60f}

/*******************************************************************************************************************
*  H1 - H4                                                                                                         
*******************************************************************************************************************/
h4 {color:#edc60f;}

/*******************************************************************************************************************
*  HEADER                                                                                                          
*******************************************************************************************************************/
#header a#logo{background:url("img/yellow/logo.png") no-repeat 50% 0;}

/*******************************************************************************************************************
*  INTRO                                                                                                          
*******************************************************************************************************************/
#subIntro{background:#edc60f; border-top:1px solid #f6e17c; color:#faf1c6;}
#subIntro a:hover{color:#faf1c6;}

/*******************************************************************************************************************
*  OTHER STYLES                                                                                                    
*******************************************************************************************************************/
a.button{background:url("img/yellow/button-left.png") no-repeat;}
a.button span{background: url("img/yellow/button-right.png") no-repeat 100% 0; color:#fff; text-shadow:1px 1px 1px #c5a911;}
a.button:hover span{color:#faf1c6;}