/*******************************************************************************************************************
*  LINKS                                                                                                           
*******************************************************************************************************************/
a, a:link, a:focus{color:#cd173e}

/*******************************************************************************************************************
*  H1 - H4                                                                                                         
*******************************************************************************************************************/
h4 {color:#cd173e;}

/*******************************************************************************************************************
*  HEADER                                                                                                          
*******************************************************************************************************************/
#header a#logo{background:url("img/red/logo.png") no-repeat 50% 0;}

/*******************************************************************************************************************
*  INTRO                                                                                                          
*******************************************************************************************************************/
#subIntro{background:#cd173e; border-top:1px solid #dc5d78; color:#f0c4cd;}
#subIntro a:hover{color:#f0c4cd;}

/*******************************************************************************************************************
*  OTHER STYLES                                                                                                    
*******************************************************************************************************************/
a.button{background:url("img/red/button-left.png") no-repeat;}
a.button span{background: url("img/red/button-right.png") no-repeat 100% 0; color:#fff; text-shadow:1px 1px 1px #911835;}
a.button:hover span{color:#f0c4cd;}