/*******************************************************************************************************************
*  LINKS                                                                                                           
*******************************************************************************************************************/
a, a:link, a:focus{color:#e01194;}

/*******************************************************************************************************************
*  H1 - H4                                                                                                         
*******************************************************************************************************************/
h4 {color:#e01194;}

/*******************************************************************************************************************
*  HEADER                                                                                                          
*******************************************************************************************************************/
#header a#logo{background:url("img/pink/logo.png") no-repeat 50% 0;}

/*******************************************************************************************************************
*  INTRO                                                                                                          
*******************************************************************************************************************/
#subIntro{background:#e01194; border-top:1px solid #e959b4; color:#f9c8e7;}
#subIntro a:hover{color:#f9c8e7;}

/*******************************************************************************************************************
*  OTHER STYLES                                                                                                    
*******************************************************************************************************************/
a.button{background:url("img/pink/button-left.png") no-repeat;}
a.button span{background: url("img/pink/button-right.png") no-repeat 100% 0; color:#fff; text-shadow:1px 1px 1px #af0f7c;}
a.button:hover span{color:#f9c8e7;}