/*******************************************************************************************************************
*  LINKS                                                                                                           
*******************************************************************************************************************/
a, a:link, a:focus{color:#981dbb}

/*******************************************************************************************************************
*  H1 - H4                                                                                                         
*******************************************************************************************************************/
h4 {color:#981dbb;}

/*******************************************************************************************************************
*  HEADER                                                                                                          
*******************************************************************************************************************/
#header a#logo{background:url("img/purple/logo.png") no-repeat 50% 0;}

/*******************************************************************************************************************
*  INTRO                                                                                                          
*******************************************************************************************************************/
#subIntro{background:#981dbb; border-top:1px solid #b761d0; color:#ebb8fa;}
#subIntro a:hover{color:#ebb8fa;}

/*******************************************************************************************************************
*  OTHER STYLES                                                                                                    
*******************************************************************************************************************/
a.button{background:url("img/purple/button-left.png") no-repeat;}
a.button span{background: url("img/purple/button-right.png") no-repeat 100% 0; color:#fff; text-shadow:1px 1px 1px #741988;}
a.button:hover span{color:#ebb8fa;}