/*******************************************************************************************************************
*  LINKS                                                                                                           
*******************************************************************************************************************/
a, a:link, a:focus{color:#1c97d1;}

/*******************************************************************************************************************
*  H1 - H4                                                                                                         
*******************************************************************************************************************/
h4 {color:#1c97d1;}

/*******************************************************************************************************************
*  HEADER                                                                                                          
*******************************************************************************************************************/
#header a#logo{background:url("img/blue/logo.png") no-repeat 50% 0;}

/*******************************************************************************************************************
*  INTRO                                                                                                          
*******************************************************************************************************************/
#subIntro{background:#1c98d1; border-top:1px solid #61b7df; color:#b4dff3;}
#subIntro a:hover{color:#b4dff3;}

/*******************************************************************************************************************
*  OTHER STYLES                                                                                                    
*******************************************************************************************************************/
a.button{background:url("img/blue/button-left.png") no-repeat;}
a.button span{background: url("img/blue/button-right.png") no-repeat 100% 0; color:#fff; text-shadow:1px 1px 1px #0f739a;}
a.button:hover span{color:#bcebf8;}